nav{
    padding: 5px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;
 }

 a{
    margin: 20px;
    text-decoration: none;
    color: black;
 }

 button{
    background-color: #7E22CE;
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    box-shadow: none;
    border: none;
 }

 Icon{
    font-size: 30px;
    color: #7E22CE;
    margin: 10px 450px 220px 20px;
 }
